.about {
    .container {
        position: relative;
    }
    .confetti {
        top: 421px;
        left: calc(-100px - 9.4vw);
        width: 9.4vw;
    }
    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 70px;
    }
    &__photos {
        position: relative;
        min-width: 530px;
        height: 550px;
    }
    &__photo {
        opacity: 0.3;
        border-radius: 24px;
        z-index: 0;
        &_active {
            position: absolute;
            top: 70px;
            left: 70px;
            border-radius: 24px;
            opacity: 1;
            z-index: 1;
        }
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.7;
        margin-top: 32px;
    }
    &__button {
        margin-top: 80px;
    }
}