/* Импорт шрифтов Montserrat и Raleway из Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* Импорт переменных и миксинов */
@import 'base/variables';
@import 'base/mixins';

/* Основные стили */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

a {
    color: inherit;
}

a, button {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.confetti {
    position: absolute;
    z-index: 10;
}

/* Подключение стилей заголовков и кнопок */
@import 'blocks/titles/titles';
@import 'blocks/buttons/buttons';

/* Подключение стилей блоков */
@import 'blocks/header/header';

@import 'blocks/demo/demo';

@import 'blocks/categories/categories';

@import 'blocks/about/about';