/* Импорт шрифтов Montserrat и Raleway из Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* Импорт переменных и миксинов */
@import 'base/variables';
@import 'base/mixins';

/* Основные стили */
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

a {
    color: inherit;
}

a, button {
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s ease-out;
    &:hover {
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    &:active {
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        transform: translateY(2px);
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    margin-top: 240px;
}

.confetti {
    position: absolute;
    z-index: 10;
}

@media (max-width: 1649.98px) {
    .confetti {
        display: none;
    }
}

@media (max-width: 1499.98px) {
    section {
        margin-top: 180px;
    }
    .confetti {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .container {
        width: 990px;
    }
    section {
        margin-top: 100px;
    }
}

@media (max-width: 989.98px) {
    .container {
        width: 750px;
    }
    section {
        margin-top: 80px;
    }
}

@media (max-width: 749.98px) {
    .container {
        width: 570px;
        padding: 0 10px;
    }
    section {
        margin-top: 60px;
    }
}

@media (max-width: 569.98px) {
    .container {
        width: 100%;
    }
    section {
        margin-top: 40px;
    }
}

/* Подключение стилей заголовков и кнопок */
@import 'blocks/titles/titles';
@import 'blocks/titles/titles-media';

@import 'blocks/buttons/buttons';
@import 'blocks/buttons/buttons-media';

/* Подключение стилей блоков */
@import 'blocks/header/header';
@import 'blocks/header/header-media';

@import 'blocks/demo/demo';
@import 'blocks/demo/demo-media';

@import 'blocks/categories/categories';
@import 'blocks/categories/categories-media';

@import 'blocks/about/about';
@import 'blocks/about/about-media';

@import 'blocks/singers/singers';
@import 'blocks/singers/singers-media';

@import 'blocks/schedule/schedule';
@import 'blocks/schedule/schedule-media';

@import 'blocks/tickets/tickets';
@import 'blocks/tickets/tickets-media';

@import 'blocks/sponsors/sponsors';
@import 'blocks/sponsors/sponsors-media';

@import 'blocks/testimonials/testimonials';

@import 'blocks/shots/shots';

@import 'blocks/contacts/contacts';

@import 'blocks/footer/footer';