.demo {
    min-height: 100vh;
    background: url('../images/background.png') center center / cover no-repeat;
    padding-top: 22.5vh;
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
        width: 970px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        span {
            color: $general-light-red;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        color: $general-light;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    &__watch {
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        font-weight: 800;
        font-size: 20px;
        line-height: 28px;
        color: $general-light;
    }
    &__timer {
        width: 1450px;
        margin: 8vh auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 700;
        font-size: 176px;
        line-height: 176px;
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 2px $general-light;
        opacity: 0.5;
    }
    /* &__element {
        font-family: 'Montserrat', sans-serif;
        span {
            font-family: 'Montserrat', sans-serif;
        }
    } */
}