.header {
    width: 100%;
    position: fixed;
    transition: 0.2s all;
    z-index: 100;
    &_blue {
        background-color: $general-blue;
        border-bottom: 1px solid $general-light;
    }
    &__row {
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }
    &__logo {
        flex: 1 1 auto;
        &:hover {
            transform: none;
        }
        &:active {
            transform: none;
        }
    }
    &__navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    &__burger {
        display: none;
    }
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
    }
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: $general-light;
        svg path {
            fill: $general-light;
        }
    }
}