.contacts {
    margin-top: 240px;
    background: rgba(34, 34, 34, 0.03);
    padding: 103px 0;
    position: relative;
    &__left {
        width: 44%;
        height: 100%;
        background-color: $general-blue;
        position: absolute;
        top: 0;
        left: 0;
        padding: 120px 180px 0 80px;
    }
    &__shape-1 {
        width: 11.7vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__title {
        color: $general-light;
    }
    &__subtitle {
        color: $general-light;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        opacity: 0.7;
    }
    &__details {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    &__contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $general-light;
    }
    .container {
        position: relative;
    }
    &__shape-2 {
        z-index: 10;
        width: 3.7vw;
        bottom: -103px;
        right: calc(-247px - 3.7vw);
    }
    &__form {
        width: 50%;
        margin-left: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__heading {
    }
    &__fields {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    &__label {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        opacity: 0.7;
    }
    &__input, &__textarea {         
        background: inherit;
        width: 100%;
        border-bottom: 1px solid $additional-1;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 8px;
        transition: 0.2s ease-out;
        &:focus {
            border-bottom: 1px solid $general-blue;
        }
    }
    &__textarea {
        min-height: 104px;
        resize: none;
        overflow: hidden;
    }
    &__button {
        margin-top: 40px;
    }
}
